@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "custom";
  src: url("https://fonts.google.com/specimen/Rubik");
}
* {
  font-family: "custom", sans-serif;
}
#jeremy-logo {
  border: 4px white solid;
  border-radius: 50%;
}
